body {
  font-family: Arial;
  background-color: #f6f6f6;
  padding: 40px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 90%;
  background: white;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
